@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  color: #fff;
    background-color: #0B1917;
  }
  
.hero-bg {
  background-image: linear-gradient(180deg, #001826 0%, #0A1813 0%, rgba(0, 37, 49, 0.00) 100%),
    url('/hero-bg.png');
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

.about-bg {
  background-image: linear-gradient(180deg, #001826 0%, #0A1813 0%, rgba(0, 37, 49, 0.00) 100%),
    url('/about-bg.png');
  background-repeat: no-repeat;
    background-size: cover;
      /* background-position: center; */
        background-position: 20% 50%;
  }
  
        /* @media screen and (min-width: 768px) {
          .about-bg {
            background-position: center;
          }
        } */
  .gallery-bg {
    background-color: #001826;
    background-image: linear-gradient(180deg, #001826 0%, #0A1813 0%, rgba(2, 15, 8, 0.85) 100%, rgba(0, 37, 49, 0.00) 100%),
      url('/gallery-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .contact-bg {
    background: linear-gradient(180deg, #001826 0%, #0A1813 0%, rgba(2, 15, 8, 0.75) 100%, rgba(0, 37, 49, 0.00) 100%), url('/contact-bg.png'),
      url('/contact-bg.png');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
    @media not all and (min-width: 1280px) {
      .losung {
        padding-top: 0px !important;
      }
    }
  
  .mySwiper.swiper-3d {
    perspective: none;
    align-items: center;
  
  }
  
  .swiper-wrapper {
    align-items: center;
  }
  
  .customSlide.swiper-slide {
    height: auto;
    transition: transform 0.9s ease;
  }
  
  .customSlide.swiper-slide-active {
    max-width: 415px;
    width: 100% !important;
  }
  
  .swiper-slide-prev.customSlide,
  .swiper-slide-next.customSlide {
    max-width: 121px;
    width: 50% !important;
    background: rgba(2, 15, 8, 0.75);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    opacity: 0.75;
    filter: brightness(.5);
  
  }
  
  
  .mySwiper .swiper-button-prev,
  .mySwiper .swiper-button-next {
    top: calc(100% - 32px);
    tab-size: 4;
      /* min-width: 90px; */
  }
  
  .mySwiper .swiper-button-prev {
    left: 60px;
  }
.mySwiper .swiper-button-prev:focus-within {
  /* left: 60px; */
  outline: #fff;
}
  
  .mySwiper .swiper-button-next {
    right: 60px;
  }
  
  .mySwiper .swiper-button-prev:after,
  .mySwiper .swiper-button-next:after {
    /* content: ''; */
      color: #fff;
    text-transform: uppercase !important;
    font-size: 33px;
    font-weight: 100 !important;
    bottom: 12px;
    top: 0 !important;
    font-family: '__Inter_20951f';
    
  }
  
  @media screen and (min-width: 1280px) {
    .customSlide.swiper-slide-active {
      max-width: 606px;
    }
  
    .swiper-slide-prev.customSlide,
    .swiper-slide-next.customSlide {
      max-width: 300px;
    }
  
    .mySwiper .swiper-button-prev {
      /* left: 210px; */
        left: 90px;
    }
  
    .mySwiper .swiper-button-next {
      /* right: 180px; */
        right: 90px;
    }
}

